option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /static/images: static/images
  aws:elasticbeanstalk:container:python:
    WSGIPath: ladimi.wsgi:application

container_commands:
  collectstatic:
    command: "$PYTHONPATH/python manage.py collectstatic --noinput > collectstatic.log ; mv collectstatic.log ~/"